.users {
  display: flex;
  flex-wrap: wrap;

  nz-card {
    margin: 8px;
    width:320px;
  }
}

.badge {
  display: relative;
  top: 15px;
}

.load-more {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
}
