<nz-content>
  <!-- TODO ADD USER SEARCH FEATURE -->
  <div class="users padding-bottom-88">

    <nz-card [nzActions]="[actionSetting, actionEdit, actionEllipsis]">
      <nz-card-meta
        nzTitle="Card title"
        nzDescription="This is the description"
        [nzAvatar]="avatarTemplate"
      ></nz-card-meta>
    </nz-card>
    <ng-template #avatarTemplate>
      <nz-avatar nzSrc="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
    </ng-template>
    <ng-template #actionSetting>
      <i class="fas fa-plus"></i>
    </ng-template>
    <ng-template #actionEdit>
      <i class="far fa-user"></i>
    </ng-template>
    <ng-template #actionEllipsis>
      <i class="far fa-comment-dots"></i>
    </ng-template>

    <nz-card [nzActions]="[actionSetting, actionEdit, actionEllipsis]">
      <nz-card-meta
        nzTitle="Card title"
        nzDescription="This is the description"
        [nzAvatar]="avatarTemplate"
      ></nz-card-meta>
    </nz-card>
    <ng-template #avatarTemplate>
      <nz-avatar nzSrc="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
    </ng-template>
    <ng-template #actionSetting>
      <i class="fas fa-plus"></i>
    </ng-template>
    <ng-template #actionEdit>
      <i class="far fa-user"></i>
    </ng-template>
    <ng-template #actionEllipsis>
      <i class="far fa-comment-dots"></i>
    </ng-template>


    <nz-card [nzActions]="[actionSetting, actionEdit, actionEllipsis]">
      <nz-card-meta
        nzTitle="Card title"
        nzDescription="This is the description"
        [nzAvatar]="avatarTemplate"
      ></nz-card-meta>
    </nz-card>
    <ng-template #avatarTemplate>
      <nz-avatar nzSrc="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
    </ng-template>
    <ng-template #actionSetting>
      <i class="fas fa-plus"></i>
    </ng-template>
    <ng-template #actionEdit>
      <i class="far fa-user"></i>
    </ng-template>
    <ng-template #actionEllipsis>
      <i class="far fa-comment-dots"></i>
    </ng-template>

    <nz-card [nzActions]="[actionSetting, actionEdit, actionEllipsis]">
      <nz-card-meta
        nzTitle="Card title"
        nzDescription="This is the description"
        [nzAvatar]="avatarTemplate"
      ></nz-card-meta>
    </nz-card>
    <ng-template #avatarTemplate>
      <nz-avatar nzSrc="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
    </ng-template>
    <ng-template #actionSetting>
      <i class="fas fa-plus"></i>
    </ng-template>
    <ng-template #actionEdit>
      <i class="far fa-user"></i>
    </ng-template>
    <ng-template #actionEllipsis>
      <i class="far fa-comment-dots"></i>
    </ng-template>

    <nz-card [nzActions]="[actionSetting, actionEdit, actionEllipsis]">
      <nz-card-meta
        nzTitle="Card title"
        nzDescription="This is the description"
        [nzAvatar]="avatarTemplate"
      ></nz-card-meta>
    </nz-card>
    <ng-template #avatarTemplate>
      <nz-avatar nzSrc="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
    </ng-template>
    <ng-template #actionSetting>
      <i class="fas fa-plus"></i>
    </ng-template>
    <ng-template #actionEdit>
      <i class="far fa-user"></i>
    </ng-template>
    <ng-template #actionEllipsis>
      <i class="far fa-comment-dots"></i>
    </ng-template>


  </div>

</nz-content>
