
<nz-row [nzGutter]="16">
  <nz-col [nzSpan]="3" class="margin-left-24" *ngIf="isMobile">
    <nz-avatar
      (click)="uploadProfileImage()"
      nz-popover
      [nzPopoverContent]="uploadImagePopoverStr()"
      nzIcon="user"
      [nzSrc]="avatarUrl"
      [nzSize]="42">
    </nz-avatar>
  </nz-col>
  <nz-col [nzSpan]="1" class="margin-left-24" *ngIf="!isMobile">
    <nz-avatar
      (click)="uploadProfileImage()"
      nz-popover
      [nzPopoverContent]="uploadImagePopoverStr()"
      nzIcon="user"
      [nzSrc]="avatarUrl"
      [nzSize]="48">
    </nz-avatar>
  </nz-col>
  <nz-col [nzSpan]="6">
    <div>
      <h2 class="username" [ngClass]="{ 'username-mobile' : isMobile }">{{ username }}</h2>
      <nz-badge *ngIf="user?.onlineStatus === 'ONLINE'" [nzStatus]="'success'"></nz-badge>
      <span *ngIf="!isLoggedInUser">
        <nz-button-group>
          <button nz-button nzType="primary" *ngIf="!followingUser" (click)="followUser()">
            <i nz-icon nzType="plus" nzTheme="outline"></i><span *ngIf="!isMobile">Follow</span>
          </button>
          <button nz-button nzType="default" *ngIf="followingUser" (click)="followUser()">
            <i nz-icon nzType="minus" nzTheme="outline"></i><span *ngIf="!isMobile">Unfollow</span>
          </button>
          <button nz-button nzType="primary" [routerLink]="['/chat/message', username]"><span *ngIf="!isMobile">Chat</span><i nz-icon [nzType]="'message'"></i></button>
        </nz-button-group>
      </span>
    </div>
  </nz-col>
  <nz-col [nzSpan]="12" class="float-right">
    <nz-descriptions nzBordered [nzSize]="'small'">
      <nz-descriptions-item nzTitle="Followers">
        <a [routerLink]="['/streams/followers', username]">
          <i class="fas fa-users"></i> {{ followersCount }}
        </a>
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="Following">
        <a [routerLink]="['/streams/following', username]">
          <i class="fas fa-address-book"></i> {{ followingCount }}
        </a>
      </nz-descriptions-item>
    </nz-descriptions>
  </nz-col>
</nz-row>
<hr>

<!-- users posts -->
<app-posts></app-posts>

<app-upload-image-modal
  [avatarUrl]="avatarUrl"
  [isVisible]="isVisible"
  (updateProfileOutput)="profileUpdated($event)">
</app-upload-image-modal>
