
<nz-row [nzGutter]="16">
  <nz-col [nzSpan]="3" class="margin-left-24" *ngIf="isMobile">
    <nz-avatar
      (click)="uploadProfileImage()"
      nz-popover
      [nzPopoverContent]="uploadImagePopoverStr()"
      nzIcon="user"
      [nzSrc]="avatarUrl"
      [nzSize]="42">
    </nz-avatar>
  </nz-col>
  <nz-col [nzSpan]="1" class="margin-left-24" *ngIf="!isMobile">
    <nz-avatar
      (click)="uploadProfileImage()"
      nz-popover
      [nzPopoverContent]="uploadImagePopoverStr()"
      nzIcon="user"
      [nzSrc]="avatarUrl"
      [nzSize]="48">
    </nz-avatar>
  </nz-col>
  <nz-col [nzSpan]="6">
    <div>
      <h2 class="username" [ngClass]="{ 'username-mobile' : isMobile }">{{ username }}</h2>
      <nz-badge *ngIf="user?.onlineStatus === 'ONLINE'" [nzStatus]="'success'"></nz-badge>
      <span *ngIf="!isLoggedInUser">
        <nz-button-group>
          <button nz-button nzType="primary" *ngIf="!followingUser" (click)="followUser(payload._id)">
            <i nz-icon nzType="plus" nzTheme="outline"></i><span *ngIf="!isMobile">Follow</span>
          </button>
          <button nz-button nzType="default" *ngIf="followingUser" (click)="followUser(payload._id)">
            <i nz-icon nzType="minus" nzTheme="outline"></i><span *ngIf="!isMobile">Unfollow</span>
          </button>
          <button nz-button nzType="primary" [routerLink]="['/chat/message', username]"><span *ngIf="!isMobile">Chat</span><i nz-icon [nzType]="'message'"></i></button>
        </nz-button-group>
      </span>
    </div>
  </nz-col>
  <nz-col [nzSpan]="12" class="float-right">
    <nz-descriptions nzBordered [nzSize]="'small'">
      <nz-descriptions-item nzTitle="Followers">
        <a [routerLink]="['/streams/followers', username]">
          <i class="fas fa-users"></i> {{ user?.followers.length }}
        </a>
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="Following">
        <a [routerLink]="['/streams/following', username]">
          <i class="fas fa-address-book"></i> {{ user?.following.length }}
        </a>
      </nz-descriptions-item>
    </nz-descriptions>
  </nz-col>
</nz-row>
<hr>

<app-post-form [isMobile]="isMobile" *ngIf="isLoggedInUser"></app-post-form>

<nz-content>
  <div class="posts">

    <div class="inner-content" *ngFor="let post of posts" [ngClass]="{'mobile-content': isMobile}">
        <div class="content">

            <nz-comment [nzAuthor]="post.username" [nzDatetime]="timeFromNow(post.createdAt)">
              <nz-avatar
                nz-comment-avatar
                nzIcon="user"
                [nzSrc]="avatarUrl"
                [nzSize]="'large'"
              ></nz-avatar>
            </nz-comment>

            <nz-comment>
              <nz-comment-content>
                <p class="post">{{ post.post }}</p>
                <img style="padding-bottom: 8px;" [src]="getPostImage(post)"/>
                <nz-tag *ngFor="let tag of post.tags">{{tag}}</nz-tag>
              </nz-comment-content>
              <nz-comment-action>
                <i
                  nz-tooltip
                  nzTitle="Like"
                  nz-icon
                  nzType="like"
                  [theme]="checkUserInArray(post.likes, payload.username) ? 'twotone' : 'outline'"
                  (click)="like(post)"
                ></i>
                <span class="count like">{{ post.totalLikes }}</span>
              </nz-comment-action>
              <nz-comment-action>
                <i
                  nz-tooltip
                  nzTitle="Dislike"
                  nz-icon
                  nzType="dislike"
                  [theme]="checkUserInArray(post.dislikes, payload.username) ? 'twotone' : 'outline'"
                  (click)="dislike(post)"
                ></i>
                <span class="count dislike">{{ post.totalDislikes }}</span>
              </nz-comment-action>
              <nz-comment-action >
                <span (click)="openComments(post)">
                  <i
                    nz-icon
                    nzType="message"
                    [theme]="checkUserInArray(post.comments, payload.username) ? 'twotone' : 'outline'">
                  </i> comments {{ post.comments.length }}
                </span>
              </nz-comment-action>
            </nz-comment>
        </div>
      </div>

  </div>
</nz-content>

<app-upload-image-modal
  [avatarUrl]="avatarUrl"
  [isVisible]="isVisible"
  (updateProfileOutput)="profileUpdated($event)"></app-upload-image-modal>
