<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="modalTitle"
  [nzContent]="modalContent"
  [nzFooter]="modalFooter"
  (nzOnCancel)="handleModalCancel()">
</nz-modal>

<ng-template #modalTitle>
  Upload Profile Image
</ng-template>

<ng-template #modalContent>
  <nz-upload
    class="avatar-uploader"
    [nzAction]="FILE_UPLOAD_URL"
    nzName="avatar"
    nzListType="picture-card"
    [nzShowUploadList]="false"
    (nzChange)="handleChange($event)">
    <ng-container *ngIf="!avatarUrl">
      <i class="upload-icon" nz-icon [nzType]="loading ? 'loading' : 'plus'"></i>
      <div class="ant-upload-text">Upload</div>
    </ng-container>
    <img *ngIf="avatarUrl" [src]="avatarUrl" class="avatar" />
  </nz-upload>
</ng-template>

<ng-template #modalFooter>
  <button nz-button nzType="primary" (click)="handleModalOk()">OK</button>
</ng-template>
