<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="modalTitle"
  [nzContent]="modalContent"
  [nzFooter]="modalFooter"
  (nzOnCancel)="handleModalCancel()">
</nz-modal>

<ng-template #modalTitle>
  Edit Post
</ng-template>

<ng-template #modalContent>
  <textarea nz-input formControlName="post" rows="2" class="post">{{ post.post }}</textarea>
  <img [src]="getPostImage(post)"/>
  <br>
  <nz-select
    [nzMaxTagCount]="3"
    [nzMaxTagPlaceholder]="tagPlaceHolder"
    nzMode="multiple"
    nzPlaceHolder="Tags"
    [(ngModel)]="selectedTags">
    <nz-option *ngFor="let tag of post.tags" [nzLabel]="tag" [nzValue]="tag"></nz-option>
  </nz-select>
  <ng-template #tagPlaceHolder let-selectedList> and {{ selectedList.length }} more selected </ng-template>

  <!-- <nz-tag *ngFor="let tag of post.tags">{{tag}}</nz-tag> -->
</ng-template>

<ng-template #modalFooter>
  <button nz-button nzType="primary" (click)="handleModalOk()">Update</button>
</ng-template>
