<div class="container">
  <form [formGroup]="postForm" novalidate class="full-width">
    <nz-comment>
      <nz-comment-content>
        <nz-form-item>
          <textarea nz-input formControlName="post" rows="4" placeholder="What's on your mind.."></textarea>
          <nz-select nzMode="tags" nzPlaceHolder="Tags" formControlName="tags">
            <nz-option></nz-option>
          </nz-select>
        </nz-form-item>
        <nz-form-item>
          <button
            nz-button
            (click)="submitPost()"
            [nzType]="'primary'"
            [nzLoading]="isLoading">
            Post
          </button>
          <nz-upload
            nzAction="https://jsonplaceholder.typicode.com/posts/"
            [nzBeforeUpload]="beforeUpload"
            nzMultiple
            [nzLimit]="1"
            (nzChange)="handlePostImageChange($event)">
            <button nz-button [disabled]="imageCount >= 1">
              <i nz-icon nzType="upload"></i>
            </button>
          </nz-upload>
        </nz-form-item>
      </nz-comment-content>
    </nz-comment>
  </form>
</div>
