<div class="container">
  <form [formGroup]="postForm" novalidate (ngSubmit)="submitPost()" class="full-width">
    <nz-comment>
      <nz-avatar *ngIf="!isMobile" nz-comment-avatar nzIcon="user" [nzSize]="64"></nz-avatar>

      <nz-comment-content>
        <nz-form-item>
          <textarea nz-input formControlName="post" rows="4" placeholder="What's on your mind.."></textarea>
          <nz-select nzMode="tags" nzPlaceHolder="Tags" formControlName="tags">
            <nz-option></nz-option>
          </nz-select>
        </nz-form-item>
        <nz-form-item>
          <button
            nz-button
            [nzType]="'primary'"
            class="float-right"
            [nzLoading]="isLoading">
            Post
          </button>
          <nz-upload nzAction="https://jsonplaceholder.typicode.com/posts/" class="float-right">
            <button nz-button><i nz-icon nzType="upload"></i></button>
          </nz-upload>
        </nz-form-item>
      </nz-comment-content>
    </nz-comment>
  </form>
</div>
