<div class="padding-bottom-88">
  <!-- add to nz-list for pagination [nzLoadMore]="loadMore" -->
  <nz-list
    class="demo-loadmore-list"
    [nzDataSource]="list"
    [nzItemLayout]="'horizontal'"
    [nzLoading]="initLoading"
    [nzRenderItem]="item"
  >
    <ng-template #item let-item>
      <nz-list-item
        [nzContent]="item.loading ? [] : notificationType"
        [nzActions]="item.loading ? [] : [editAction]"
      >
        <nz-skeleton [nzAvatar]="true" [nzActive]="true" [nzTitle]="false" [nzLoading]="item.loading">
          <ng-template #notificationType>
            <i nz-icon [nzType]="'mail'"></i>
          </ng-template>
          <ng-template #editAction><a [routerLink]="['/streams/profile', item.notification.senderUsername]">view profile</a></ng-template>
          <nz-list-item-meta
            [nzTitle]="nzTitle"
            nzIcon="user"
            nzAvatar="../../"
            [nzDescription]="item.notification.createdAt"
          >
            <ng-template #nzTitle>
              <a [routerLink]="['/streams/profile', item.notification.senderUsername]">{{ item.notification.message }}</a>
            </ng-template>
          </nz-list-item-meta>
        </nz-skeleton>
      </nz-list-item>
    </ng-template>


    <!-- <ng-template #loadMore>
      <div class="loadmore">
        <button nz-button *ngIf="!loadingMore" (click)="onLoadMore()">loading more</button>
      </div>
    </ng-template> -->
  </nz-list>
</div>
