@import url('https://fonts.googleapis.com/css?family=Open+Sans|Sulphur+Point&display=swap');
@import url('./assets/fontawesome/css/all.min.css');

/*
/////////////////////////////////////////////
//** GLOBAL STYLES
/////////////////////////////////////////////
*/
body {
  font-family: 'Sulphur Point', sans-serif;
}

.layout {
  height: 100vh;
}

/*
/////////////////////////////////////////////
//** ZORRO STYLE OVERRIDES
/////////////////////////////////////////////
*/

/* badge notification color */
nz-badge .ant-scroll-number {
  color: white;
}

/* card border */
.ant-card-bordered {
  border: transparent;
}

/* card actions */
.ant-card-actions {
  background: #525552;
  border: transparent;
}

.ant-card-actions > li:not(:last-child) {
  border-right: transparent;
}

/* comments and posts */
.ant-comment-inner {
  padding: 0;
}

/* content */
nz-content {
  display: flex;
  justify-content: center;
}

/* descriptions */
.ant-descriptions-bordered .ant-descriptions-item-label {
  background-color: transparent;
  border-right: transparent;
}

.ant-descriptions-bordered .ant-descriptions-view {
  border: 1px solid #505050;
}

.ant-descriptions-bordered .ant-descriptions-item-content {
  border-right: transparent;
}

.ant-descriptions-bordered .ant-descriptions-row {
  border: 1px solid #505050;
}

/* icons */
.anticon:hover {
  color: #95de64
}

/* input icon color */
.ant-form-item-children .anticon {
  color: white !important;
}

/* inputs */
.ant-input {
  border: transparent;
}

.ant-input-group-addon {
  padding: 0px;
  background-color: transparent;
  border: transparent;
}

/* list items */
.ant-list-split .ant-list-item {
  border-bottom: 1px solid #505050;
}

/* modal */
.ant-modal-body {
  background-color: #484848;
}

/* select */
nz-select {
  margin-top: 12px;
  width: 100%;
}

.ant-select-selection {
  border: transparent;
}

/* select tag color */
.ant-select-selection--multiple .ant-select-selection__rendered > ul > li {
  background: transparent;
}

/* select dropdown */
.ant-select-dropdown-menu-item,
.ant-select-dropdown-menu-item-selected,
.ant-select-dropdown-menu-item-active:not(.ant-select-dropdown-menu-item-disabled) {
  background-color: transparent;
}

.ant-select-dropdown-menu-item:hover,
.ant-select-dropdown-menu-item-selected:hover,
.ant-select-dropdown-menu-item-active:not(.ant-select-dropdown-menu-item-disabled):hover {
  background: #888888 !important;
}

/* side-nav mobile hamburger bar */
.ant-layout-sider-zero-width-trigger {
  top: 0.4vh;
}

/* tags */
.ant-tag {
  background: transparent;
  margin-bottom: 2px;
}

/* upload image list */
.ant-upload-list-item:hover .ant-upload-list-item-info {
  background-color: transparent;
}

/*
/////////////////////////////////////////////
//** GENERIC STYLES
/////////////////////////////////////////////
*/
/* width 100% */
.full-width {
  width: 100%;
}

/* pull left */
.float-left {
  float: left;
}

/* pull right */
.float-right {
  float: right;
}

/* margins */
.margin-left-24 {
  margin-left: 24px;
}

.margin-right-8 {
  margin-right: 8px;
}

/* padding */
.padding-12 {
  padding: 12px;
}

.padding-bottom-44 {
  padding-bottom: 44px;
}

.padding-bottom-88 {
  padding-bottom: 88px;
}

/* hr */
hr {
  height: 1px;
  color: #505050;
  background-color: #505050;
  border: none;
}

