h2 {
    margin-left: 30px;
}

h3 {
    margin-top: 8px;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

nz-card {
    width: 250px;
    margin: 8px;
    border-radius: 8px;
    background-color: #585858;
}

img {
    height: 200px;
    width: 100%;
    border-radius: 8px;
}

p {
    padding-top: 5px;
}

.isMobile {
    width: 100%;
}
