.message {
  overflow: scroll;
  height: 95%
}

.message-header {
  z-index: 1000;
  position: sticky;
  top: 0;
  display: flex;
  padding-top: 8px;
  background: #505050;
}

.ant-list-item {
  display: block;
  padding: 12px;
}

// .ant-list-split .ant-list-item:last-child {
//   // margin-bottom: 56px;
// }

.message-footer {
  position: fixed;
  bottom: 0px;
  padding: 8px;
  width: 100%;
  background: #505050;
}

.mobile-message-footer {
  position: fixed;
  bottom: 64px;
  padding: 8px;
  width: 100%;
  background: #505050;
}
