<div class="message-header">
  <a [routerLink]="['/streams/profile', chatingWithUsername]">
    <h3 class="margin-left-24">{{ chatingWithUsername }}</h3>
  </a>
  <!-- determine if user is logged in -->
  <nz-badge [nzStatus]="'success'"></nz-badge>
</div>

<nz-list [nzDataSource]="data" [nzRenderItem]="item" [nzItemLayout]="'horizontal'">
  <ng-template #item let-item>
    <nz-list-item>
      <nz-list-item-meta
        [nzTitle]="nzTitle"
        nzAvatar="https://gw.alipayobjects.com/zos/rmsportal/BiazfanxmamNRoxxVxka.png">
        <ng-template #nzTitle>
          <a href="https://ng.ant.design">{{ item.name }}</a>
        </ng-template>
      </nz-list-item-meta>
      <div class="padding-12">
        <!-- <img style="width: 200px" src="assets/logo.png"> -->
        <span>test long message testing here test long</span>
      </div>
    </nz-list-item>
  </ng-template>
</nz-list>

<div class="message-footer">
  <nz-input-group [nzAddOnAfter]="suffixIconButton">
    <input type="text" nz-input placeholder="send a message.." />
  </nz-input-group>
  <ng-template #suffixIconButton>
    <button nz-button nzType="primary"><i class="fas fa-paper-plane"></i></button>
  </ng-template>
</div>
