.container {
  width: 100%;
  display: flex;
  align-items: center;
  padding-bottom: 8px;
  nz-avatar {
    margin: 18px;
    width: 64px;
    height: 64px;
  }
  button {
    margin-left: 18px;
  }
}

.post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post-user {
  padding-left: 28px;
  padding-bottom: 12px;
}

.post-tags {
  // position: relative;
  // left: 50%;
  // transform: translateX(-50%);
}

.post-content {
  padding-left: 28px;
}

img {
  width: 100%
}

.mobile-img-width {
  width: 100%;
}

.img-width {
  max-width: 450px;
}
