.container {
  width: 100%;
  display: flex;
  align-items: center;
  padding-bottom: 8px;
  nz-avatar {
    margin: 18px;
    width: 64px;
    height: 64px;
  }
}

.container-userinfo {
  display: flex;
  flex-direction: column;
  padding-left: 8px;
  .post-time {
    font-size: 10px;
  }
}

.container-actions {
  span {
    padding-left: 5px;
  }
}

button {
  margin-left: 18px;
}

.post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post-user {
  display: flex;
  padding-left: 28px;
  padding-bottom: 12px;
}

.post-content {
  padding-left: 28px;
}

img {
  width: 100%
}

.mobile-img-width {
  width: 100%;
}

.img-width {
  max-width: 450px;
}
