<nz-content>
  <div>
    <nz-comment
      class="post-content"
      [nzAuthor]="post?.username"
      [nzDatetime]="timeFromNow(post?.createdAt)">
      <nz-avatar
        [routerLink]="['/streams/profile/', post?.username]"
        nz-comment-avatar
        nzIcon="user"
        [nzSrc]="getUserAvatar(post?.user)"></nz-avatar>
      <nz-comment-content>
        <p>{{ post?.post }}</p>
        <nz-tag *ngFor="let tag of post?.tags">{{tag}}</nz-tag>
      </nz-comment-content>
    </nz-comment>
    <hr>
    <div class="container">
      <form class="full-width" [formGroup]="commentForm" (ngSubmit)="addNewComment()">
        <nz-comment>
          <!-- change comment style make text area and button align -->
          <nz-comment-content>
            <nz-form-item>
              <textarea nz-input formControlName="comment" rows="1" placeholder="add comment.."></textarea>
            </nz-form-item>
            <nz-form-item>
              <button
                nz-button
                [nzType]="'primary'"
                class="float-right"
                [nzLoading]="isLoading"
                [disabled]="!commentForm.valid">
                Comment
              </button>
            </nz-form-item>
          </nz-comment-content>
        </nz-comment>
      </form>
    </div>
  </div>

  <nz-list [nzDataSource]="commentsArray" [nzRenderItem]="comment" [nzItemLayout]="'horizontal'">
    <ng-template #comment let-item>
      <nz-comment
        class="post-content"
        [nzAuthor]="item.username"
        [nzDatetime]="timeFromNow(item.createdAt)">
        <nz-avatar
          [routerLink]="['/streams/profile/', item.username]"
          nz-comment-avatar
          nzIcon="user"
          [nzSrc]="getUserAvatar(item.userId)"></nz-avatar>
        <nz-comment-content>
          <p>{{ item.comment }}</p>
        </nz-comment-content>
      </nz-comment>
    </ng-template>
  </nz-list>
</nz-content>
