<div style="margin: 30px;">

  <app-loading *ngIf="isLoading"></app-loading>

  <!-- add to nz-list for pagination [nzLoadMore]="loadMore" -->
  <nz-list
    class="notifications-list"
    [nzDataSource]="chatList"
    [nzItemLayout]="'horizontal'"
    [nzLoading]="initLoading"
    [nzRenderItem]="item"
  >
    <ng-template #item let-item>
      <nz-list-item [routerLink]="['/chat/message', item.messageId.receiver]"
        [nzContent]="item.loading ? [] : profileContent"
        [nzActions]="item.loading ? [] : [notificationActions]">
        <nz-skeleton [nzAvatar]="true" [nzActive]="true" [nzTitle]="false" [nzLoading]="item.loading">
          <ng-template #profileContent>
            <a [routerLink]="['/streams/profile', item.messageId.receiver]">
              {{ item.receiverId.username }}
            </a>
          </ng-template>
          <ng-template #notificationActions>
            <i
              class="anticon margin-right-8"
              nz-icon
              [nzType]="'mail'"
              [theme]="checkMessageIsRead(item.messageId.message[item.messageId.message.length - 1])"
              (click)="markMessage(item.messageId.message)"></i>
          </ng-template>
          <nz-list-item-meta
            [nzTitle]="nzTitle"
            [nzDescription]="timeFromNow(item.messageId.message[item.messageId.message.length - 1])"
            nzIcon="user"
            [nzAvatar]="getUserAvatar(item.receiverId)">
            <ng-template #nzTitle>
              <p>{{ item.messageId.message[item.messageId.message.length - 1].body }}</p>
            </ng-template>
          </nz-list-item-meta>
        </nz-skeleton>
      </nz-list-item>
    </ng-template>


    <!-- <ng-template #loadMore>
      <div class="loadmore">
        <button nz-button *ngIf="!loadingMore" (click)="onLoadMore()">loading more</button>
      </div>
    </ng-template> -->
  </nz-list>
</div>
