<ul nz-menu nzMode="horizontal" class="header-menu">
  <li nz-menu-item>
    <a [routerLink]="['/streams/posts']">
      <i nz-icon class="icon-size-lg" nzType="appstore"></i>
    </a>
  </li>
  <li nz-menu-item [routerLinkActive]="['ant-menu-item-selected']">
    <a [routerLink]="['/chat/notifications']">
      <nz-badge [nzCount]="chatListLength"></nz-badge>
      <i nz-icon class="icon-size-lg" nzType="message"></i>
    </a>
  </li>
  <li nz-menu-item [routerLinkActive]="['ant-menu-item-selected']">
    <a [routerLink]="['/streams/notifications']">
      <nz-badge [nzCount]="notificationsLength"></nz-badge>
      <i nz-icon class="icon-size-lg" nzType="book"></i>
    </a>
  </li>
</ul>
