ul {
  display: flex;
  justify-content: center;
}

.ant-menu-horizontal > .ant-menu-item {
  height: 64px;
}

.icon-size-lg {
  font-size: 22px;
  margin-top: 18px;
}

nz-badge {
  position: relative;
  top: 10px;
  left: 32px;
}
