<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="modalTitle"
  [nzContent]="modalContent"
  [nzFooter]="modalFooter"
  (nzOnCancel)="handleModalCancel()">
</nz-modal>

<ng-template #modalTitle>
  Change Password
</ng-template>

<ng-template #modalContent>

  <div class="container">
    <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="changePassword()">
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your old password">
          <nz-input-group nzSize="large" nzPrefixIcon="lock">
            <input type="password" nz-input formControlName="oldPassword" placeholder="Old Password" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your new password">
          <nz-input-group nzSize="large" nzPrefixIcon="lock">
            <input type="password" nz-input formControlName="newPassword" placeholder="New Password" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please confirm your new password">
          <nz-input-group nzSize="large" nzPrefixIcon="lock">
            <input type="password" nz-input formControlName="confirmNewPassword" placeholder="Confirm New Password" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <button
            nz-button
            nzShape="round"
            class="login-form-button"
            [disabled]="!validateForm.valid"
            [nzType]="'primary'">Change Password</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>

</ng-template>

<ng-template #modalFooter>
  <button nz-button nzType="default" (click)="handleModalOk()">Close</button>
</ng-template>
